.PenSizeMenu {
    width: 100%;
    max-width: 135px;
    display: flex;
    justify-content: space-around;
    .PenSize {
        width: 25px;
        height: 25px;
        background: darkslategray;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
        .firstSize {
            width: 7px;
            height: 7px;
            background: white;
        }
        .secondSize {
            width: 9px;
            height: 9px;
            background: white;
        }
        .thirdSize {
            width: 11px;
            height: 11px;
            background: white;
        }
        .forthSize {
            width: 13px;
            height: 13px;
            background: white;
        }
    }
    .PenSizeActive {
        border: 3px solid goldenrod;
        .firstSize {
            background: goldenrod;
        }
        .secondSize {
            background: goldenrod;
        }
        .thirdSize {
            background: goldenrod;
        }
        .forthSize {
            background: goldenrod;
        }
    }
}

