.SaveGifBtn {
    width: 60px;
    height: 60px;
    background: darkslategray;
    color: white;
    font-size: 35px;
    border: none;
    box-sizing: border-box;
    outline: none;
    margin-right: 15px;
    &:hover,
    &:active {
        cursor: pointer;
        border: 3px solid goldenrod;
    }
}