.CanvasBlock {
    position: relative;
    margin-right: 20px;
}

.Canvas {
    background: gray;
    z-index: 100;
}

.SecondCanvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 101;
}